.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 30;
        transition: background-color 0.4s ease 0s;
        &._active__scroll{
            background: #FFF;
            transition: background-color 0.4s ease 0s;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 15px;
        padding-top: 39px;
        padding-bottom: 39px;
        transition: all 0.4s ease 0s;
        @media (max-width: 768px){
            padding-top: 8px;
            padding-bottom: 8px;
            justify-content: start;
            column-gap: 20px;
        }
        &._active__scroll{
            padding-top: 5px;
            padding-bottom: 5px;
            transition: all 0.4s ease 0s;
        }
    }
    &__logo {
        @media (max-width: 768px){
            flex: 1 1 auto;
            position: relative;
            z-index: 66;
        }
    }
    &__nav {
        @media (max-width: 768px){
            position: fixed;
            top: 0;
            left: -120%;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.5s ease 0s;
            background: #FFF;
            z-index: 65;
            &.active-burger{
                left: 0;
                transition: all 0.5s ease 0s;
            }
        }
    }
    &__media {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: end;
        column-gap: 27px;
        row-gap: 15px;
        position: relative;
    }
    &__burger {
        width: 24px; 
        height: 16px;
        position: relative;
        z-index: 66;
        &:after,
        &:before{
            content: '';
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            background: #262626;
            border-radius: 5px;
            transition: all 0.3s ease 0s;
        }
        &:after{
            bottom: 0;
        }
        &:before{
            top: 0;
        }
        & span {
            position: absolute;
            top: 7px;
            left: 0;
            height: 2px;
            width: 100%;
            background: #262626;
            border-radius: 5px;
            transition: all 0.3s ease 0s;
        }
        &.active-burger{
            & span {
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease 0s;
            }
            &:after{
                bottom: 6px;
                transform: rotate(45deg);
                transition: all 0.3s ease 0s;
            }
            &:before{
                top: 8px;
                transform: rotate(-45deg);
                transition: all 0.3s ease 0s;
            }
        }
        @media (min-width: 768px){
            display: none;
        }
    }
}
.logo {
    &__link {
        @media (max-width: 768px){
            & img{
                width: 48px;
                height: 48px;
            }
        }
    }
}
.nav {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 15px;
        @media (max-width: 768px){
            padding-top: 88px;
            row-gap: 40px;
            flex-direction: column;
        }
    }
    &__item {
    }
    &__link {
        line-height: normal;
        @media (min-width: 768px){
            transition: color 0.3s ease 0s;
            &:hover{
                color: $redColor;
                // font-weight: 600;
                transition: color 0.3s ease 0s;
            }
        }
        @media (max-width: 768px){
            font-size: 24px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.48px;
        }
    }
    &__burger {
        margin-top: 60px;
        @media (min-width: 768px){
            display: none;
        }
    }
}
.burger {
    &__media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__phone {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        line-height: 83.3%; 
        padding-left: 32px;
        margin-bottom: 24px;
        &:before{
            content: url('@img/header/phone.svg');
            position: absolute;
            top: -4px;
            left: 0;
        }
    }
    &__social {
        margin-bottom: 60px;
    }
    &__privacy {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }
}
.social-burger {
    display: flex;
    align-items: center;
    gap: 12px;
    & ._youtube-icon{
        background: $redColor;
    }
    &__link {
        &:before{
            font-size: 30px;
            color: $redColor;
        }
        &.icon_youtube{
            &:before{
                font-size: 18px;
            }
        }
    }
}
.privacy {
    &__link {
        text-align: center;
        color: rgba(0, 0, 0, 0.50);
        font-size: 16px;
        line-height: 175%;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, 0.50);
        }
    }
}
.media {
    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }
    &__link {
        &:before{
            font-size: 29px;
            transition: color 0.3s ease 0s;
        }
        @media (min-width: 768px){
            &:not(:last-child){
                &:hover{
                    &:before{
                        color: $redColor;
                        transition: color 0.3s ease 0s;
                    }
                }
            }
        }
    }
    &__call {
        @media (max-width: 768px){
            display: none;
        }
    }
    &__phone {
        display: block;
        font-weight: 500;
        line-height: normal;
        &:not(:last-child){
            margin-bottom: 4px;
        }
        @media (min-width: 768px){
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.icon_youtube{
    position: relative;
    &:before{
        font-size: 18px;
        color: #FFF;
        position: absolute;
        top: 20%;
        left: 20%;
    }
}
._youtube-icon{
    width: 29.98px;
    height: 29.98px;
    background: #000;
    border-radius: 50%;
    @media (min-width: 768px){
        transition: background-color 0.3s ease 0s;
        &:hover{
            transition: background-color 0.3s ease 0s;
            background: $redColor;
        }
    }
}